.g-one {
    color: green;
    font-size:  70px;
  }
  .o-one {
    color: red;
    font-size:  60px;
  }
  .o-two {
    color: yellow;
    font-size:  50px;
  }
  .g-two {
    color: orange;
    font-size:  40px;
  }
  .l {
    color: blue;
    font-size:  30px;
  }
  .e {
    color: purple;
    font-size:  20px;
  }